

<html>
  <body>
      <style>
          .bg-image {
  background-image: url("https://newevolutiondesigns.com/images/freebies/white-wallpaper-9.jpg");
  /* background-color: #cccccc; */
  height: 605px;
  width:1350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

          </style>
  <div class="bg-image">
          <app-employ></app-employ>
          <app-manager></app-manager>
          <br/>
  </div>
</body>
</html>
